{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'icons/remixicon.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <title>Arware</title>
</head>

<body>
    <!-- header -->
    <header class="header">
        <nav class="contenedor-header">
            <div class="cont-img-titulo">
                <!-- <img src="{% static 'imgs/d2210123.png' %}" alt="logo" class="logo-img"> -->
                <h1>ARWARE</h1>
            </div>
            <!-- links con palabras -->
            <div class="links-palabras">
                <ul>
                    <li><a href="http://">Nuestros Servicios</a></li>
                    <li><a href="http://">Digitalizate</a></li>
                    <li><a href="http://">Sobre Nosotros</a></li>
                    <li><a href="http://">Nuestro Equipo</a></li>
                    <li><a href="http://">Contáctenos</a></li>
                </ul>
            </div>
            <!-- links con palabras -->

            <!-- links con iconos -->
            <div class="links-iconos">
                <ul>
                    <li><a href="http://"><i class="ri-store-3-fill"></i></a></li>
                    <li><a href="http://"><i class="ri-global-line"></i></a></li>
                    <li><a href="http://"><i class="ri-group-2-fill"></i></a></li>
                    <li><a href="http://"><i class="ri-service-fill"></i></a></li>
                    <li><a href="http://"><i class="ri-phone-fill"></i></a></li>
                </ul>
            </div>
            <!-- links con iconos -->
        </nav>
    </header>
    <!-- end header -->

    <!-- hero -->
    <section class="hero">
        <div class="contenedor-hero">
            <div>
                <h1>Tu Mejor Solución, Siempre</h1>
                <h2>Mas que un grupo desarrolladores, somos la conexión con el mundo digital</h2>
                <span>Realiza lo que imaginas, solo contactándonos</span><a href="http://">Enviar Propuesta</a>
            </div>
            <div>
                <img src="{% static 'imgs/hero-img.png' %}" alt="imagen Hero">
            </div>
        </div>
        <div class="benef">
            <ul>
                <li><i class="ri-database-fill"></i>Gestión de datos</li>
                <li><i class="ri-user-2-fill"></i>Presencia</li>
                <li><i class="ri-eye-fill"></i>Visibilidad</li>
            </ul>
        </div>
    </section>
    <!--end hero -->

    <!-- Main -->
    <main>

        <!-- Nuestros Servicios -->
        <section>
            <div>
                <div>
                    <h1>Nuestros Servicios</h1>
                </div>
                <div>
                    <!-- aplicaciones Móviles -->
                    <article>
                        <div>
                            <img src="{% static 'imgs/app-movil.png' %}" alt="" srcset="">
                        </div>
                        <div>
                            <h1>Aplicaciones Móviles</h1>
                            <p>Una aplicación Movil es un software diseñado para ejecutarse en los smartphones
                                (teléfonos inteligentes), tabletas y otros dispositivos móviles.
                                Estas dependen bastante del rubro o negocio por ejemplo para los hoteles lo recomendable
                                es una aplicación de reservas</p>
                        </div>
                    </article>
                    <!-- aplicaciones Móviles -->

                    <!-- Paginas web -->
                    <article>
                        <div>
                            <!-- <img src="{% static 'imgs/paginaweb.png' %}" alt="" srcset=""> -->
                        </div>
                        <div>
                            <h1>Paginas Web</h1>
                            <p>Existen dos tipos de Paginas Webs Estáticas y Dinámicas, estas Páginas le podrían llegar
                                a ser util en su Local para poder ganar posicionamiento en internet.
                                las principales diferencias son que en las páginas web estáticas no se utilizan bases de
                                datos ni se requiere programación. Este tipo de webs son mas económicas ya que el tiempo
                                de programación es mucho menor
                                que en las paginas dinámicas. Las webs dinámicas son paginas en las que su contenido es
                                fácilmente y frecuentemente modificado.
                            </p>
                        </div>
                    </article>
                    <!-- Paginas web -->

                    <!-- Aplicaciones Web -->
                    <article>
                        <div>
                            <img src="{% static 'imgs/aplicaciones-web.png' %}" alt="" srcset="">
                        </div>
                        <div>
                            <h1>Aplicaciones Web</h1>
                            <p>Los sistema son herramientas que creamos
                                para que le pueda ser de utilidad en su local.
                                Algunos de esos sistemas son Stock, Venta, Control de cámaras y Control de fugas.
                                Estos Sistemas le podrían llegar a ser util en su Local (Dependiendo del rubro en el que
                                se desempeña),
                                por ejemplo Un Sistema de Control de Stock o de Venta
                                esto lo ayudara a que usted pueda tener un control mucho mas preciso
                                a la hora de saber cuantos productos tiene en stock
                                y cuantos productos se vendieron en el dia, la semana, o el mes.
                            </p>
                        </div>
                    </article>
                    <!-- Aplicaciones Web -->

                </div>
            </div>
        </section>
        <!-- Nuestros Servicios -->

        <!-- Digitalizar tu Negocio -->
        <section>
            <div>
                <h1>Digitaliza tu Negocio</h1>
                <article>
                    <div>
                        la digitalización permite analizar de manera mucho más precisa, tanto los procesos productivos
                        como los resultados de tu negocio, de esta manera es más fácil encontrar tus fallos y mejorar tu
                        eficiencia como empresa.
                    </div>
                    <div>
                        <img src="{% static 'imgs/ses.png' %}" alt="">
                    </div>
                </article>
            </div>
        </section>
        <!-- Digitalizar tu Negocio -->

        <!-- Sobre Nosotros -->
        <section>
            <div>
                <h1>Sobre Nosotros</h1>
            </div>
            <div>
                <p>Somos dos Programadores que se conformaron con las ganas de brindar un servicio de calidad a nuestros
                    clientes.
                    Estamos orientados a ofrecer soluciones tecnológicas con alto valor agregado y un enfoque totalmente
                    personalizado en nuestros clientes y sus
                    necesidades particulares, buscando de este modo convertirnos en socios estratégicos.</p>
            </div>
        </section>
        <!-- Sobre Nosotros -->

        <!-- Nuestro Equipo -->
        <section>
            <div>
                <h1>Nuestro Equipo</h1>
            </div>
            <div>
                <!-- primer carta -->
                <div>
                    <span>Salinas Esteban</span>
                    <span>Técnico Programador</span>
                    <img src="{% static 'Us/foto.jpg' %}" alt="">
                    <ul>
                        <li class="agrandar"><a href="https://www.facebook.com/esteban.salinas.3344"
                                target="_blank"><span><i class="ri-facebook-circle-fill"></i></span></a></li>
                        <li class="agrandar"><a href="https://www.instagram.com/estebansalinass_/"
                                target="_blank"><span><i class="ri-instagram-line"></i></span></a></li>
                        <li class="agrandar"><a href="https://github.com/Esteban-45" target="_blank"><span></span><i
                                    class="ri-github-fill"></i></a></li>
                    </ul>
                    <p>Técnico Programador. Sostiene que si te lo propones lo podes lograr</p>
                </div>
                <!-- primer carta -->

                <!-- segunda carta -->
                <div>
                    <span>Schneider Oscar</span>
                    <span>Técnico Programador</span>
                    <img src="{% static 'Us/oscar.jpg' %}" alt="">
                    <ul>
                        <li class="agrandar"><a href="https://www.facebook.com/oscra.schneider" target="_blank"><span><i
                                        class="ri-facebook-circle-fill"></i></span></a></li>
                        <li class="agrandar"><a href="https://www.instagram.com/schbeideroscar/"
                                target="_blank"><span><i class="ri-instagram-line"></i></span></a></li>
                        <li class="agrandar"><a href="https://github.com/Oscar2sas" target="_blank"><span></span><i
                                    class="ri-github-fill"></i></a></li>
                    </ul>
                    <p>Técnico Programador. Afirma la imaginación es una gran herramienta a la hora de crear</p>
                </div>
                <!-- segunda carta -->
            </div>
        </section>
        <!-- Nuestro Equipo -->

        <!-- Contáctenos -->
        <section>
            <div>
                <h1>Contáctenos</h1>
            </div>
            <article>
                <div>
                    <img src="{% static 'imgs/mail.png' %}" alt="imagen fachera">
                </div>
                <div>
                    {{form.as_p}}
                </div>
            </article>
        </section>
        <!-- Contáctenos -->
    </main>
    <!-- end Main -->

    <!-- footer -->
    <footer>
        <!-- Primera sección del footer -->
        <section>
            <h1>Arware</h1>
            <p>
                Ciudad de Las Heras
                <br>
                Provincia Santa Cruz, CP 9017 <br> Argentina
                <br>
                Celulares: +54 297 5072564 - +54 297 5072565 <br>
                Email: arwareempresa@gmail.com
            </p>
        </section>
        <!-- Primera sección del footer -->

        <!-- Segunda sección del footer -->
        <section>
            <h1>Accesos Rápidos</h1>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#sobre_nosotros">Sobre Nosotros</a></li>
                <li><a href="#contactanos">Contáctenos</a></li>
                <li><a href="#sobre_Arware">Sobre Arware</a></li>
            </ul>
        </section>
        <!-- Segunda sección del footer -->

        <!-- Tercera sección del footer -->
        <section>
            <h1>Nuestras Redes</h1>
            <p>Para mantenerse actualizado sobre nuestras noticias y últimos lanzamientos,
                <br> también puede seguirnos en nuestras diferentes redes sociales haciendo clic en ellas.
            </p>
            <div class="redes">
                <a href="https://www.facebook.com/profile.php?id=100089998476907" target="_blank"><i
                        class="ri-facebook-line"></i></a>
                <a href="https://www.instagram.com/arware.e/" target="_blank"><i class="ri-instagram-line"></i></a>
                <a href="https://github.com/Arwaree" target="_blank"><i class="ri-github-line"></i></a>
                <a href="https://www.linkedin.com/in/arware-empresa-4b51a9265/" target="_blank"><i
                        class="ri-linkedin-line"></i></a>
            </div>
        </section>
        <!-- Tercera sección del footer -->
        <div>
            <p>© Copyright Arware. Todos los Registros Reservados</p>
            <p>Diseñado por Arware</p>
        </div>
    </footer>
    <!--end footer -->
</body>

</html>