{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arware</title>
</head>

<body>
    <!-- header -->
    <header>
        <div>
            <h1>Arware</h1>
            <nav>
                <ul>
                    <li>sas</li>
                    <li>ses</li>
                    <li>sis</li>
                    <li>sos</li>
                    <li>sus</li>
                    <li>ses</li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- end header -->

    <!-- hero -->
    <section>
        <div>
            <div>
                <h1>Tu Mejor Solucion, Siempre</h1>
                <h2>Mas que un grupo desarrolladores, somos la conecion con el mundo digital</h2>
                <span>Realiza lo que imaginas, solo contactandonos</span><a href="http://">Enviar Propuesta</a>
            </div>
            <div>
                <img src="{% static 'imgs/hero-img.png' %}" alt="imagen Hero">
            </div>
        </div>
        <div>
            <ul>
                <li>Gestion de datos</li>
                <li>Precencia</li>
                <li>Visibilidad</li>
            </ul>
        </div>
    </section>
    <!--end hero -->

    <!-- Main -->
    <main>cuerpo</main>
</body>

</html>