/* estilos de los Servicios */
.items{
    display: flex;
    width: 80%;
}

.cont-serv-padre{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0px;
}
.titulo-serv{
    font-size: 40px;
    text-shadow: 0 0 15px -1px rgba(0,0,0,0.4);
}
.contenedor-servicios{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.selectores{
    width: 20%;
    box-shadow: 0 0 15px -1px rgba(0,0,0,0.4);
}

.selectores a{
    display: flex;
    text-decoration: none;
    padding: 10px 10px;
    border-bottom: solid 1px rgb(194, 194, 194);
    color: black;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    justify-content: right;
}

.selectores a.open{
    color: rgb(255, 255, 255);
}

.selectores a::after{
    content: '';
    display: flex;
    text-decoration: none;
    height: 100%;
    width: 5px;
    background-color: #3472df;
    color: black;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
}


.selectores a.open::after{
    content: '';
    display: flex;
    text-decoration: none;
    height: 100%;
    width: 110%;
    background-color: #3472df;
    color: black;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.selectores a:hover{
    background-color: rgb(194, 194, 194);
}

.cont-img-serv{
    display: flex;
    background-color: #ffffff;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.serv-img{
    width: 100%;
}
/* para la imagen de reversa */
.serv-img-rev{
    width: 100%;
}
/* para la imagen de reversa */
.cont-text-serv{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 75%;
}

.cont-text-serv p{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

h1.ses{
    display: flex;
    font-size: 30px;
    position: relative;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

h1.ses::before{
    content: '';
    position: absolute;
    width: 90%;
    height: 4px;
    background-color: #e0e0e0;
    z-index: 0;
    bottom: 0;
    border-radius: 30px;
}

h1.ses::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 4px;
    background-color: #3472df;
    z-index: 0;
    bottom: 0;
    border-radius: 30px;
}

/* titulo en reversa  */

h1.ses-rev{
    display: flex;
    font-size: 30px;
    position: relative;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

h1.ses-rev::before{
    content: '';
    position: absolute;
    width: 90%;
    height: 4px;
    background-color: #e0e0e0;
    z-index: 0;
    bottom: 0;
    border-radius: 30px;
}

h1.ses-rev::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 4px;
    background-color: #3472df;
    z-index: 0;
    bottom: 0;
    border-radius: 30px;
}

/* titulos en reversa */

.servicios{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 273px ;
    overflow: hidden;
    justify-content: center;
    background-color: #fff;
    transition: .3s all;
    margin-top: 30px;
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, .4);
    justify-content: center;
    align-items: center;
}

.servicios-revers{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    height: 273px ;
    overflow: hidden;
    justify-content: center;
    background-color: #fff;
    transition: .3s all;
    margin-top: 30px;
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, .4);
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 980px){
    .servicios{
        flex-direction: column;
        height: max-content
    }

    .servicios-revers.open{
        flex-direction: column;
        height: max-content
    }

    .cont-text-serv p{
        font-size: 14px;
        padding: 10px ;
        margin-top:10px ;
    }
    h1.ses{
        font-size: 20px;
        margin-top: 10px;
        padding-bottom: 15px;
    }
    h1.ses::after{
        width: 10%;
    }

    h1.ses-rev{
        font-size: 20px;
        margin-top: 10px;
        padding-bottom: 15px;
    }
    h1.ses-rev::after{
        width: 10%;
    }

    .titulo-serv{
        font-size: 20px;
    }
}

/* estilos de los Servicios */